<% if @search.empty? %>
	<div>No records found. </div>
<% else %>
	<% @search.each do |p| %>
		<%= render "posts/post", post: p %>
	<% end %>
	<div style = "width:100%;">
		<%= will_paginate @search %>
	</div>
<% end %>
