/*
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
a{
    text-decoration:none;
}
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
}
p {
    font-size: 16px;
}
.margin {
    margin-bottom: 45px;
}
.bg-1 { 
    background-color: #1abc9c; /* Green */

}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */

}
.bg-3 { 
    background-color: #ffffff; /* White */

}
.bg-4 { 
    background-color: #2f2f2f; /* Black Gray */

}
.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar {
    padding-top: 1px;
    padding-bottom: 1px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0; 
    font-size: 12px;
    letter-spacing: 5px;
    z-index:15;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}
.field{
    color:black;
}
#welcome{
    color:black;
}
.form-field{
    color:black;
}
.simple-search{
	font-size:3rem;
	border:2px solid white;
	background: rgba(54, 25, 25, .5);
	height:6rem;
	width:40rem;
	color:white;
	margin-left:auto;
	margin-right:auto;
	left:0;
	right:0;

}
.simple-search-btn{
	height:6rem;
	width:6rem;
	background: rgba(54, 25, 25, 0);
	border:none;
}
.simple-search:focus {
    outline: none !important;
    border:4px solid black;
}

.postholder{
	display:none;
}
.logindiv{
    text-align:center;
    background-color:white;
    width:30rem;
    height:50rem;
    margin:3rem;
    display:inline-block;
}
.signupdiv{
    text-align:center;
    background-color:white;
    width:30rem;
    height:65rem;
    margin:3rem;
    display:inline-block;
}
.accounteditdiv{
    text-align:center;
    background-color:white;
    width:70rem;
    min-height:120rem;
    margin:3rem;
    display:inline-block;
}
.field{
    text-align:center;
    display:inline-block;
}
.notification{
    background-color:#474e5d;
    text-align:center;
    color:white;
    height:11rem;
    position:absolute;
    z-index:50;
    width:100%;
    opacity:0.7;
}
.notice, .alert{
    font-size:3rem;
}
